# Dépendances système
python-dotenv
setuptools

# Librairies de base
certifi
charset-normalizer
idna
urllib3
requests
click
colorama
tqdm
filelock
platformdirs

# WandB pour le suivi des entraînements
wandb

# Machine Learning
numpy

# PyTorch GPU (laisser pip choisir selon CUDA dispo sur RunPod)
torch
torchvision
torchaudio

# Tokenization et NLP
sentencepiece
transformers

# Modélisation & configuration
pydantic
pydantic_core
typing_extensions
typing-inspection
annotated-types

# Manipulation de fichiers
fsspec
PyYAML
gdown

# Logging / monitoring
sentry-sdk
GitPython
gitdb
smmap

# Math / graph / symbolic
sympy
mpmath
networkx

# Templates (si utilisé)
Jinja2
MarkupSafe
